<ion-grid>
  <ion-row>
    <ion-col>
      <form [formGroup]="taskForm" (ngSubmit)="addNewTask()">
        <ion-input label="Task ID:" formControlName="id"></ion-input>
        <ion-input label="Task Title:" formControlName="title"></ion-input>

        <ion-label class="ion-float-left">End Date: </ion-label>

        <ion-col class="ion-padding-top">
          <ion-datetime formControlName="date"></ion-datetime>
        </ion-col>

        <ion-button

          class="ion-padding-top"
          type="submit"
          [disabled]="!taskForm.valid"
          >Save Task</ion-button
        >
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
